* {
    background:                     #021735ff;
    background-alt:                 #001837ff;
    foreground:                     #333333cc;
    border:               			#FDBB6Dff;
    border-alt:               		#DA717Fff;
    selected:               		#685E79ff;
    urgent:                         #DA4453FF;
}
